#forgot-password-container {
    display: flex;
    justify-content: center;
    padding: 7rem 0;
}


#forgot-password-container input {
    display: block;
}

#forgot-password-container h1 {
    font-size: 3rem;
}

#forgot-password-container a {
    display: inline-block;
    text-decoration: none;
    color: rgb(168, 168, 2);
    padding: 0.5rem 0;

}

#forgot-password-container a:hover {
    text-decoration: underline;
    
}

#forgot-password-container input {
    font-size: 1.1rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

#forgot-password-container #fp-error-message {
    padding-bottom: 1rem;
    margin: 0;
}

#forgot-password-container button {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgb(3, 175, 175);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
}

#forgot-password-container button:hover {
    background-color: rgb(2, 155, 155);
    cursor: pointer;
}

#verification-email-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

#verification-email-success h1 {
    font-size: 3rem;
}